.search_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  width: 300px;
  height: 20px;
}

.invisible {
  display: none;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

.dasign_info {
  position: absolute;
  right: 0;
  top: 0;
  flex-grow: 1;
  width: calc(48% - 45px);
  margin-left: 45px;
  padding: 40px 50px 50px;
  border-radius: 16px;
  border: 1px solid #eee;
  font-weight: 600;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.tum {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0 12px;
}
