/* main + header */
main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/9958fa1c-329e-441a-abd0-ea9cb539e8a4/KR-ko-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  word-break: keep-all;
  max-width: 100%;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 img {
  color: red;
  width: 30%;
}
@media screen and (max-width: 959px) {
  header h1 img {
    width: 100px;
  }
}
@media screen and (max-width: 325px) {
  header {
    justify-content: flex-start;
    flex-direction: column;
  }
}
main section {
  color: white;
  text-align: center;
  margin-top: 6%;
}
section h1 {
  font-weight: bolder;
  font-size: 55px;
  margin-bottom: 30px;
}
section h1 p {
  font-size: 55px;
  height: 40px;
  padding-top: 18px;
}
section p {
  font-size: 16px;
  padding: 12px;
  margin-top: 5px;
  line-height: 25px;
}
section div p {
  font-size: 20px;
}
/* 미디어쿼리 사용하려면 화면 줄일 때마다 css 수정한다 생각해야 함 -> 후순위! */
@media screen and (max-width: 1278px) {
  section h1 {
    font-size: 250%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 1278px) {
  section div p {
    margin: -1%;
  }
}

@media screen and (max-width: 1278px) {
  section h1 p {
    font-size: 110%;
  }
}
@media screen and (max-width: 1278px) {
  section div p {
    font-size: 100%;
  }
}
@media screen and (max-width: 959px) {
  section h1 {
    font-size: 200%;
    display: inline-flex;
  }
}
@media screen and (max-width: 959px) {
  section h1 p {
    font-size: 100%;
    margin-top: -3.5%;
    white-space: nowrap;
  }
}
@media screen and (max-width: 959px) {
  section {
    padding-top: 8%;
  }
}
@media screen and (max-width: 455px) {
  section h1 {
    font-size: 200%;
    display: block;
    white-space: nowrap;
  }
}
@media screen and (max-width: 270px) {
  section p {
    white-space: normal;
  }
}
.han1 {
  white-space: nowrap;
}
.btn {
  background-color: red;
  color: rgb(226, 227, 228);
  border-radius: 5px;
  padding: 6px 17px;
  font-size: 14px;
  border: 0;
  text-decoration: none;
}
#national {
  background: black;
  color: white;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  font-size: 15px;
  text-align: center;
}
#national option {
  background: white;
  color: black;
}
main #email {
  background: rgba(176, 176, 216, 0.281);
  color: white;
  border-radius: 5px;
  width: 460px;
  height: 55px;
  border: 1px solid rgb(2, 155, 104);
}
main #email:focus {
  outline: none;
}
@media screen and (max-width: 1278px) {
  .main1 #email {
    width: 28%;
  }
}
@media screen and (max-width: 1278px) {
  .main1 .sta {
    font-size: 110%;
    width: 14%;
    padding: 1.3% 0% 1.8%;
  }
}
@media screen and (max-width: 959px) {
  .main1 #email {
    width: 28%;
    display: inline-block;
  }
}
@media screen and (max-width: 959px) {
  .main1 .sta {
    width: 20%;
    font-size: 110%;
    margin-top: 1%;
    padding: 1.7% 0% 2.2%;
  }
}
@media screen and (max-width: 599px) {
  .main1 #email {
    width: 90%;
    margin: 0px 20px 10px;
  }
}
@media screen and (max-width: 599px) {
  .main1 .sta {
    width: 130px;
    font-size: 15px;
    padding: 15px;
  }
}
@media screen and (max-width: 599px) {
  #national {
    width: 40px;
  }
}
main .sta {
  background: red;
  color: white;
  border-radius: 5px;
  width: 180px;
  padding: 10px 10px 19px 10px;
  font-size: 25px;
  display: inline-block;
}
.line {
  border-top: 3px solid rgb(156, 36, 36);
  margin-top: -200px;
}
@media screen and (max-width: 1278px) {
  .line {
    margin-top: -300px;
  }
}
@media screen and (max-width: 959px) {
  .line {
    margin-top: -42%;
  }
}

h2 {
  font-size: 30px;
  font-weight: bolder;
}
article {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.main2 {
  text-align: center;
  padding-right: 57%;
  margin-top: 60px;
  color: white;
  font-size: 26px;
}
a h2 {
  color: white;
}
article a p {
  color: darkgray;
  padding-top: 5%;
}
.line1 p {
  line-height: 1.5;
}
#bout {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 25.7%;
  height: 234px;
  background: linear-gradient(180deg, #45172b 0%, #210d0e 100%);
  margin: 8px;
  padding: 30px;
  transition: all 0.5s;
}
@media screen and (max-width: 1278px) {
  .main2 {
    padding-left: 1%;
  }
}
@media screen and (max-width: 959px) {
  .main2 {
    font-size: 25px;
    text-align: start;
    padding-left: 20px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1278px) {
  .line1 {
    width: 100%;
  }
}
@media screen and (max-width: 959px) {
  .line1 {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 1278px) {
  #bout {
    width: 28%;
  }
}
@media screen and (max-width: 959px) {
  #bout {
    width: 95%;
    height: 1%;
  }
}
body {
  background-color: #000;
}
#bout:hover {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#9b3561, #210d0e);
}
.main3 {
  text-align: center;
  padding-right: 53%;
  margin-top: 60px;
  color: white;
}
#bout-line {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 20%;
  height: 327px;
  background: linear-gradient(180deg, #192247 0%, #210c17 100%);
  margin: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main4 {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}
.main4 p {
  color: darkgray;
  padding: 0% 0% 0% 0%;
  line-height: 23px;
  margin-left: -10px;
  font-size: 16px;
}
.main4 h2 {
  line-height: 30px;
  font-size: 24px;
}
.fa-solid,
.fa-sharp {
  display: block;
  text-align: end;
  padding-top: 0%;
  font-size: 45px;
}
@media screen and (max-width: 1278px) {
  .main3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1278px) {
  .main4 h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 959px) {
  .main4 {
    flex-direction: column;
    padding-top: 1px;
  }
  .main3 {
    font-size: 20px;
    padding-left: 20px;
    text-align: start;
    padding-right: 0px;
  }
}
@media screen and (max-width: 1278px) {
  #bout-line {
    width: 42%;
    height: 220px;
  }
  .fa-tv {
    padding-top: 0%;
  }
}
@media screen and (max-width: 959px) {
  #bout-line {
    width: 97%;
    height: auto;
  }
}
.main5 {
  padding: 2% 0% 0% 13%;
  text-align: start;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}
.sec1 {
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0% 5% 0% 10%;
}
@media screen and (max-width: 1278px) {
  .sec1 {
    padding: 0% 5% 0% 7.5%;
  }
}
@media screen and (max-width: 959px) {
  .sec1 {
    padding: 0% 2% 0% 1%;
    margin: 0%;
  }
}
@media screen and (max-width: 959px) {
  .sec1 p {
    padding: 2% 2% 2% 2%;
  }
}
@media screen and (max-width: 959px) {
  .sec1 div p {
    font-size: 20px;
  }
}
@media screen and (max-width: 959px) {
  .main5 {
    font-size: 19px;
    padding-left: 20px;
    margin-top: 30px;
  }
}
.sec1 p {
  font-size: 25px;
}
#bout-one-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1200px;
  height: 84px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
}
.box9 {
  text-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 210px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 50px;
  display: none;
}
.box9 a {
  color: white;
  font-size: 24px;
  margin: 1%;
  text-decoration: underline;
  text-wrap: wrap;
}

.box11 {
  text-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 230px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  display: none;
}

.box13 {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 160px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  display: none;
}

.box15 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 300px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  display: none;
}

.box17 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 150px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  display: none;
}

.box19 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1200px;
  height: 250px;
  background-color: rgb(45, 45, 45);
  margin: 2px;
  padding: 20px 0px 0px 0px;
  line-height: 30px;
  display: none;
}



div .fa-duotone {
  font-size: 100%;
}
h3 {
  color: white;
  text-align: start;
  display: block;
  padding-left: 11.4%;
  padding-top: 70px;
}
.foot1 {
  margin: 1% 30px 0px 11%;
  display: flex;
  flex-wrap: nowrap;
}
.foot1 #email {
  color: white;
  background-color: rgba(176, 176, 216, 0.281);
  width: 850px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid rgb(2, 155, 104);
}
.foot1 #email:focus {
  outline: none;
}
.foot1 #but1 {
  color: white;
  background-color: red;
  width: 170px;
  border-radius: 5px;
  height: 60px;
  font-size: 20px;
  padding: 4px 0px 12px;
}
@media screen and (max-width: 599px) {
  .foot1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
  }
}
@media screen and (max-width: 599px) {
  .foot1 #but1 {
    margin: 3%;
  }
}
@media screen and (max-width: 1558px) {
  footer div {
    display: inline;
    flex: 1 1 20%;
  }
}
@media screen and (max-width: 1145px) {
  footer div {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 500px) {
  footer div {
    flex: 0 0 100%;
  }
}
footer p a {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 0%;
  margin-top: 50px;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  text-align: start;
  padding-left: 14%;
  margin-top: 50px;
}
footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 15px;
  margin-top: 30px;
  padding: 0% 15% 0% 10%;
}
footer section a {
  color: rgba(255, 255, 255, 0.7);
  margin: 12px;
}
footer .ate1 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 290px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
}
footer .ate2 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 290px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
}
footer .ate3 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 290px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
}
footer .ate4 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 290px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
}
footer .nat {
  margin-left: 14%;
}
footer h5 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-right: 66%;
  margin: 5% 0% 10% 1%;
  font-size: 13px;
}
