/* main + header */
main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/9958fa1c-329e-441a-abd0-ea9cb539e8a4/KR-ko-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  word-break: keep-all;
  max-width: 100%;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 22px;
}

header h1 {
  color: red;
  font-size: 40px;
}

main section {
  color: white;
  text-align: center;
  margin-top: 16%;
}
section h1 {
  font-weight: bolder;
  font-size: 35px;
  height: 40px;
  margin-bottom: 40px;
}
section p {
  font-size: 16px;
  padding: 12px;
  margin-top: 10px;
}

/* input focus 시 css 제거하는 방법이 있을 거에요! 찾아서 추가해보는 것 추천 */

/* 미디어쿼리 사용하려면 화면 줄일 때마다 css 수정한다 생각해야 함 -> 후순위! */
@media screen and (min-width: 965px) {
  section p {
    font-size: 16px;
  }
}
@media screen and (min-width: 965px) {
  section h1 {
    font-size: 62px;
  }
}
@media screen and (min-width: 965px) {
  header {
    font-size: 25px;
  }
}
.btn {
  background-color: red;
  color: rgb(226, 227, 228);
  border-radius: 5px;
  padding: 6px 17px;
  font-size: 14px;
  border: 0;
  text-decoration: none;
}
#national {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 6px 18px;
  font-size: 15px;
}
#national option {
  background: white;
  color: black;
}
main #email {
  background: rgba(176, 176, 216, 0.281);
  color: white;
  border-radius: 5px;
  padding: 18px 150px;
  font-size: 15px;
  border-style: solid;
  border-color: rgb(2, 155, 104);
}
main .sta {
  background: red;
  color: white;
  border-radius: 5px;
  padding: 18px 50px;
  font-size: 15px;
  text-decoration: none;
}
section .main1 {
  padding: 5px;
}
.line {
  border-top: 3px solid rgb(156, 36, 36);
}

h2 {
  font-size: 30px;
  font-weight: bolder;
}
article {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.main2 {
  text-align: center;
  padding-right: 45%;
  margin-top: 60px;
  color: white;
}
a h2 {
  color: white;
}
article a p {
  color: darkgray;
  padding-top: 20px;
}
.line1 p {
  line-height: 23px;
}
.box1 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 390px;
  height: 234px;
  background: linear-gradient(180deg, #45172b 0%, #210d0e 100%);
  margin: 8px;
  padding: 30px;
  transition: all 0.5s;
}
.box2 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 390px;
  height: 234px;
  background: linear-gradient(180deg, #45172b 0%, #210d0e 100%);
  margin: 8px;
  padding: 30px;
  transition: all 0.5s;
}
.box3 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 390px;
  height: 234px;
  background: linear-gradient(180deg, #45172b 0%, #210d0e 100%);
  margin: 8px;
  padding: 30px;
  transition: all 0.5s;
}
body {
  background-color: #000;
}
.box1:hover {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#9b3561, #210d0e);
}
.box2:hover {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#9b3561, #210d0e);
}
.box3:hover {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#9b3561, #210d0e);
}
.main3 {
  text-align: center;
  padding-right: 45%;
  margin-top: 60px;
  color: white;
}
.box4 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 290px;
  height: 380px;
  background: linear-gradient(180deg, #192247 0%, #210c17 100%);
  margin: 8px;
  padding: 30px;
}
.box5 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 290px;
  height: 380px;
  background: linear-gradient(180deg, #192247 0%, #210c17 100%);
  margin: 8px;
  padding: 30px;
}
.box6 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 290px;
  height: 380px;
  background: linear-gradient(180deg, #192247 0%, #210c17 100%);
  margin: 8px;
  padding: 30px;
}
.box7 {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 15px;
  width: 290px;
  height: 380px;
  background: linear-gradient(180deg, #192247 0%, #210c17 100%);
  margin: 8px;
  padding: 30px;
}
.main4 {
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.main4 p {
  color: darkgray;
  padding-top: 20px;
  line-height: 20px;
  margin-left: -10px;
}
.main4 h2 {
  line-height: 35px;
  font-size: 25px;
}
.fa-tv {
  display: block;
  text-align: end;
  padding-top: 90px;
  font-size: 45px;
}
.fa-arrow-down {
  display: block;
  text-align: end;
  padding-top: 50px;
  font-size: 45px;
}
.fa-camera {
  display: block;
  text-align: end;
  padding-top: 80px;
  font-size: 45px;
}
.fa-face-smile {
  display: block;
  text-align: end;
  padding-top: 30px;
  font-size: 45px;
}
.main5 {
  text-align: center;
  padding-right: 53%;
  margin-top: 60px;
  color: white;
  font-size: 30px;
}
.sec1 {
  color: white;
  text-align: left;
  display: block;
  width: 64%;
  margin: 0 auto;
}
.sec1 p {
  font-size: 25px;
  
}
.box9 a {
  display: block;
  color: white;
  font-size: 24px;
  margin: 8px;
  padding: 4px;
  text-decoration: underline;
}
.box8 {
  text-align: left;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  align-items: center;
}
.box9 {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 210px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
  align-items: center;
}

.box10 {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
}
.box11 {
  display: block;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 230px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
  
}
.box12 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
}
.box13 {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 160px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
}
.box14 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
}
.box15 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 300px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
}
.box16 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
}
.box17 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 150px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
}
.box18 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 100px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
}
.box19 {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 1000px;
  height: 250px;
  background-color: rgb(45, 45, 45);
  margin: 8px;
  padding: 7px;
  line-height: 30px;
}
div .fa-duotone {
  display: block;
  position: relative;
  text-align: end;
  top: -55px;
  font-size: 50px;
}
h3{
  color: white;
  display: flex;
  justify-content: center;
}